<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.18.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.18.0" targetFramework="net40" />
  <package id="Nancy.Serialization.ProtoBuf" version="0.18.0" targetFramework="net40" />
  <package id="Nancy.Serialization.ServiceStack" version="0.18.0" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.18.0" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.640" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.58" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net40" />
</packages>